
:root {
    --prompt-text-color: rgb(46, 46, 46, 0.77);
    --prompt-tip-bg: rgb(123, 247, 144, 0.2);
    --prompt-tip-icon-color: #03b303;
    --prompt-info-bg: #e1f5fe;
    --prompt-info-icon-color: #0070cb;
    --prompt-warning-bg: rgb(255, 243, 205);
    --prompt-warning-icon-color: #ef9c03;
    --prompt-danger-bg: rgb(248, 215, 218, 0.56);
    --prompt-danger-icon-color: #df3c30;
}



.callout-warning {
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-left: 0;
    background: var(--prompt-warning-bg);
}


