/**
 * Chirpy-like theme for Markdown rendered HTML
 * @author zenovak
 */


.markdown-body-zen {
    /* Constants */
    --base-size-4: 0.25rem;
    --base-size-8: 0.5rem;
    --base-size-16: 1rem;
    --base-text-weight-normal: 400;
    --base-text-weight-medium: 500;
    --base-text-weight-semibold: 600;
    --fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

/* color-scheme */
@media (prefers-color-scheme: dark) {
    :root,
    [data-theme="dark"] {
        color-scheme: dark;

        --heading-color: #cccccc;
        --text-color: rgb(175, 176, 177);
        --text-muted-color: #868686; 

        --text-code-color: #c9def1;

        --fgColor-accent: rgb(138, 180, 248);
        --fgColor-accent-focus: rgb(116, 178, 243);

        --bgColor-default: rgb(27, 27, 30);
        --bgColor-code: #323238;

        --borderColor-default: #414955;
        --borderColor-muted: #161b22;
    }
}

@media (prefers-color-scheme: light) {
    :root,
    [data-theme="light"] {
        color-scheme: light;

        --heading-color: #2a2a2a;
        --text-color: #34343c;
        --text-muted-color: #757575;

        --fgColor-default: #34343c;
        --fgColor-muted: #636c76;
        --fgColor-accent: #1f6feb;
        --fgColor-accent-focus: #0969da;

        --bgColor-default: white;
        --bgColor-code: #f6f6f7;


        --borderColor-default: #d0d7de;
        --borderColor-muted: #d0d7deb3;
    }
}

/* Sizes on display changes */

/* Base styles */ 

.markdown-body-zen {
    line-height: 1.75rem;

    color: var(--text-color);
    background-color: var(--bgColor-default);
}

/* Typography */
.markdown-body-zen h2, .markdown-body-zen h3, .markdown-body-zen h4, .markdown-body-zen h5 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;

    color: var(--heading-color);
}

.markdown-body-zen p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.markdown-body-zen h1 {
    font-size: 2.5rem;
    font-weight: var(--base-text-weight-medium);
}

.markdown-body-zen h2 {
    font-size: 2rem;
    font-weight: var(--base-text-weight-medium);
}

.markdown-body-zen h3 {
    font-size: 1.75rem;
    font-weight: var(--base-text-weight-medium);
}

.markdown-body-zen h4 {
    font-size: 1.5rem;
}

.markdown-body-zen h5 {
    font-size: 1.25rem;
}
 

.markdown-body-zen p {
    font-size: var(--base-size-16);
}

.markdown-body-zen a {
    background: transparent;
    color: var(--fgColor-accent);
    text-decoration: none;
}


.markdown-body-zen hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--borderColor-muted);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--borderColor-default);
    border: 0;
}

/* Quotes */
.markdown-body-zen blockquote {
    padding-left: 3rem;
    margin-bottom: 1rem;
    border-left: .25rem solid;
    border-color: var(--borderColor-default);

    color: var(--fgColor-muted)
}

.markdown-body-zen blockquote>:first-child {
    margin-top: 0;
}

.markdown-body-zen blockquote>:last-child {
    margin-bottom: 0;
}


/* Code block */
.markdown-body-zen pre {
    padding: 1rem;
    margin-bottom: 1rem;

    overflow-x: auto;
    overflow-y: auto;
}

.markdown-body-zen pre code, .markdown-body-zen pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body-zen pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

/* inline-code */
.markdown-body-zen code {
    padding: .2rem .4rem;
    color: var(--text-code-color);
    background: var(--bgColor-code);
    border-radius: 0.375rem;
    white-space-collapse: break-spaces;
    font-size: 0.875rem;
}


/* table */
.markdown-body-zen table {
    width: 100%;
    table-layout: auto;
}

.markdown-body-zen th {
    padding-bottom: 0.75rem;
}

.markdown-body-zen tr {
    border-bottom-width: 1px;
    border-bottom-color: var(--borderColor-default);
}

.markdown-body-zen td {
    padding: 0.75rem 0.75rem 0.75rem 0;
}


/* Media */
.markdown-body-zen img {
    border-radius: .675rem;

    /* Tailwind shadow */
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 1px 3px 8px 0 rgba(0, 0, 0, 0.19);
}

/* Hover states */
.markdown-body-zen a:hover {
    color: var(--fgColor-accent-focus);
    text-decoration: underline;
}