@tailwind base;
@tailwind components;
@tailwind utilities;

@import "markdown/_markdown_zen.css";
@import "markdown/_markdown.css";

@import "markdown/_code_github.css";
@import "markdown/_github_alert.css";
@import "markdown/_callout.css";
@import "markdown/_code_headers.css";

/* TOC */
@import "markdown/_tocbot.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
